@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(-10px, 0px, 0px);
    }
    50%{
        opacity: .5;
        transform: translate3d(3px, 0px, 0px);
    }
    100%{
        opacity: 1;
        transform: translate3d(0);
    }
}
p{
    text-align: justify;
}